<div class="store-content">
   <div class="tiramisu-schedule">
    <h2><%= description %></h2>
    <img class="tiramisu-img" src="<%= image %>" alt="<%= name %>">
    <h4>Price: <%= price %></h4>
    <h4>Calories: <%= calories %></h4>
    <h5>Ingredients: <%= ing1 %>, <%= ing2 %>, <%= ing3 %>, <%= ing4 %>, <%= ing5 %>, <%= ing6 %></h5>
    <a class="order-btn" href="/store/order">Make an order</a>
</div>

