<!DOCTYPE html>
<html lang="en">
    <% if (locals.page!==undefined) { %>
        <% if (locals.page==="history") { %>
            <%- include("../partials/head.ejs") %>
        <% } else if (locals.page==="history/treviso" || locals.page==="history/savoiardi" || locals.page==="history/mascarpone") { %>
            <%- include("../partials/headLevelUp.ejs") %>
        <% } %>
<% } %>
<body>
    <%- include("../partials/openingHours.ejs") %>
    <%- include("../partials/navigationLevelUp.ejs") %>
    <%- include("../partials/header.ejs") %>
    <section>
            <%- include("../partials/history-content.ejs") %>
    </section>
    <%- include("../partials/footer.ejs") %>
</body>

</html>