<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>
<body>
    <%- include("../partials/openingHours.ejs") %>
    <%- include("../partials/navigation.ejs") %>
    <%- include("../partials/header.ejs") %>
    

    
    <section>
        <% if (locals.page!==undefined) { %>
            <% if (locals.page==="main")  {%>
        <iframe class="youtube-video1" width="250" height="400" src="https://www.youtube.com/embed/x5E70W40KNI?si=HPCWdL1647raiK2G&amp;controls=0?autoplay=1&mute=1" title="YouTube video player" frameborder="0" allow="autoplay=1" allowfullscreen></iframe>
        <iframe class="youtube-video2" width="700" height="400" src="https://www.youtube.com/embed/x5E70W40KNI?si=HPCWdL1647raiK2G&amp;controls=0?autoplay=1&mute=1" title="YouTube video player" frameborder="0" allow="autoplay=1" allowfullscreen></iframe>
    <% } else if (locals.page==="history" || locals.page==="company") {%>
            <%- include("../partials/central-content.ejs") %>
    <% } %>
    
    <% } %>
    </section>




    <%- include("../partials/footer.ejs") %>
    
</body>
</html>