<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>
<body>
    <%- include("../partials/openingHours.ejs") %>

    <%- include("../partials/header.ejs") %>
    <%- include("../partials/navigation.ejs") %>

    
    <section>
        <iframe width="350" height="500" src="https://www.youtube.com/embed/x5E70W40KNI?si=HPCWdL1647raiK2G&amp;controls=0?autoplay=1" title="YouTube video player" frameborder="0" allow="autoplay=1" allowfullscreen></iframe>
    </section>




    <%- include("../partials/footer.ejs") %>
    
</body>
</html>