<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>
<body>
    <%- include("../partials/openingHours.ejs") %>
    <%- include("../partials/navigation.ejs") %>
    <%- include("../partials/header.ejs") %>
    
    <section>
        <% if (locals.page!==undefined) { %>
            <% if (locals.page==="main")  { %>
                <%- include("../partials/video.ejs") %>
            <% } else if ( locals.page==="company" || locals.page==="location") { %>
                <%- include("../partials/central-content.ejs") %>
            <% } else if (locals.page==="tir") { %>
                <%- include("../partials/store-content.ejs") %>
            <% }  %>
        <% } %>
    </section>

    <%- include("../partials/footer.ejs") %>
</body>

</html>