<!DOCTYPE html>
<html lang="en">
    <% if (locals.page!==undefined) { %>
        <% if (locals.page==="tiramisu") { %>
            <%- include("../partials/headLevelUp.ejs") %>
        <% } else if ((locals.page==="tir")) { %>
            
            <%- include("../partials/head.ejs") %>
        <% } %>
<% } %>

<body>
    <%- include("../partials/openingHours.ejs") %>


    <% if (locals.page!==undefined) { %>
        <% if (locals.page==="tiramisu") { %>
            <%- include("../partials/navigationLevelUp.ejs") %>
        <% } else if ((locals.page==="tir")) { %>
            
            <%- include("../partials/navigation.ejs") %>
        <% } %>
    <% } %>
    
    <%- include("../partials/header.ejs") %>
    <section>
        <%- include("../partials/tiramisu-card.ejs") %>
    </section>
    <%- include("../partials/footer.ejs") %>

</body>
</html>