<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>
<body>
    <%- include("../partials/openingHours.ejs") %>
    <%- include("../partials/navigation.ejs") %>
    <%- include("../partials/header.ejs") %>
    

    
    <section>
   
        <%- include("../partials/store-content.ejs") %>
    
    </section>




    <%- include("../partials/footer.ejs") %>
    
</body>
</html>